html,
body,
#root {
  height: 100%;
  max-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 48px;
  background-color: #eee;
}

.github-button-custom {
  margin-bottom: 4px;
  height: 20px;
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
  color: #24292e;
  background-color: #eff3f6;
  background-image: -moz-linear-gradient(top, #fafbfc, #eff3f6 90%);
  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  position: relative;
  display: inline-block;
  font-weight: 600;
  vertical-align: bottom;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid #c5c9cc;
  text-decoration: none;
  outline: 0;
  border-radius: 0.25em;
}

.github-button-custom:hover,
.github-button-custom:focus {
  background-color: #e6ebf1;
  background-position: -0.5em;
  border-color: #9fa4a9;
  border-color: rgba(27, 31, 35, 0.35);
  background-image: -moz-linear-gradient(top, #f0f3f6, #e6ebf1 90%);
  background-image: linear-gradient(180deg, #f0f3f6, #e6ebf1 90%);
}

.github-button-custom:active {
  background-color: #e9ecef;
  border-color: rgba(27, 31, 35, 0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
  background-image: none;
  filter: none;
}

header > h1 {
  display: block;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

main > div {
}

#editor-mountpoint {
  flex-grow: 1;
  overflow: hidden;
}

.right-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-width: 450px;
  max-width: 450px;
}

.info-panel {
  background-color: #abcdef;
  border-radius: 8px;
  padding: 0 12px;
  margin: 8px;
  font-size: 13px;
}

.versions {
  min-height: 200px;
  max-height: 200px;
  overflow: auto;
}

.versions h2 {
  font-size: 14px;
  margin: 8px;
}

#reset-cache {
  font-size: 12px;
}

#versions-mountpoint > div {
  padding: 2px 8px;
  font-family: 'Courier New', monospace;
  font-size: 12px;
}

#versions-mountpoint > div:nth-child(2n) {
  background-color: #eeeeee;
}
#versions-mountpoint > div:nth-child(2n) {
  background-color: #e7e7e7;
}

#logs-mountpoint {
  min-width: 450px;
  max-width: 450px;
  flex-grow: 1;
  overflow: auto;
  font-family: 'Courier New', monospace;
  color: #555;
  font-size: 11px;
}

#logs-mountpoint > div {
  padding: 3px 4px;
}

#logs-mountpoint > div.err {
  background-color: #ffa7a7;
}
